/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#social-media {
  float: right;
}

/* Caption absolute alignment */
.main-caption {
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translate(-50%,-50%);
  font-size: 15px;
}

.caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* For dimmed photo effect */
.dimmed {
  filter: brightness(50%);
  transition: 0.5s;
}

.dimmed:hover {
  filter: brightness(25%);
  transition: 0.5s;
}

/* Middle quote */
.quote {
  font-size: 40px;
  font-family: "Times New Roman";
  padding: 20px 100px;
}


